/**
 * Google Fonts Demo
 **/

/* Add in the Google Fonts of your choice */

.thought1 {
	font-family: 'Libre Barcode 39 Text', cursive;	
}

.thought2 {
	font-family: 'Indie Flower', cursive;		
}

.thought3 {
	font-family: 'Wendy One', sans-serif;	
}